doctype html
html(lang="en")
  head
    title="Ad Placements"
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')

  body(class='d-flex flex-column bg-light')
    .container.m-auto
      div(class='placements-container bg-white rounded p-4 mx-auto border')
        h5.text-center Chose Ad Placement
        .alert.alert-danger.mt-3.d-none
        ul.list-group.my-3
          each placement in placements
            li(class='list-group-item placement-item', data-sku-id=placement.skuId, data-price=placement.price)
              span=placement.title
              span.badge.badge-success.ml-auto= 'USD ' + placement.price

        button.btn.btn-primary.btn-block.font-weight-bold#pay-button Pay Now


    script(src='https://js.stripe.com/v3/', type='text/javascript')
    script(src='/js/app.js', type='text/javascript')
